@use 'variables' as *;
@use 'mixin' as *;

html{
    scroll-behavior: smooth;
}


body{
    font-family: $sans, $sansJp, serif;
}


h3{
    font-size: 24px;
    @include mq(sp){
        font-size: 20px;
    }
}

.title-wrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    
    .title{
        color: $textColor1;
        white-space: nowrap;   // ← 改行させない
        margin-right: 16px;    
    }

    .title-line{
        height: 2px;
        flex: 1;
        background-color: $textColor1;
    }

}

p {
    font-size: 18px; /* 文字のサイズを16pxに設定 */
    line-height: 1.5; /* 行間を文字のサイズの1.5倍に設定 */
    color: $textColor2;
    @include mq(sp){
        font-size: 16px;
    }
}

.section{
    padding-top: 96px;
    padding-bottom: 184px;
    @include mq(sp){
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &-head__en{
        font-size: 48px;
        @include mq(sp){
            font-size: 32px;
        }
    }
}

.section-head__en{
    padding-bottom: 64px;
    color: $textColor1;
    font-family: $serif;

    @include mq(sp){
        padding-bottom: 40px;
    }
}

.container{
    margin: 0 220px;
    @include mq(sp){
        margin: 0 24px;
    }
}

.sp-none{
    display: block;
    @include mq(sp){
        display: none;
    }
}

.pc-none{
    display: none;
    @include mq(sp){
        display: block;
    }
}