@use 'variables' as *; 
@use 'mixin' as *;

.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 120px;
    padding: 0 40px 0 80px;
    // transition: all 0.3s ease; // ← なめらか変化用（すりガラス用）

    @include mq(sp){
        height: 64px;
        padding: 0 0px 0 16px;
    }

    /* スクロール後に付くクラス　すりガラス用 */
    // &.is-scrolled {
    //     background: rgba(255, 255, 255, 0.4); // 半透明
    //     backdrop-filter: blur(12px) saturate(150%); // すりガラス
    //     box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    //     -webkit-backdrop-filter: blur(10px); // Safari用
    // }

    .nav{       
        display: flex;
        column-gap: 32px;
        @include mq(sp){
            display: none;
        }
    }
    
    
    .ham{
        display: none;
        @include mq(sp){
            display: block;
            width: 64px;
            height: 64px;
            padding: 16px;
            background-color: $overlay1;
        }

        &-icon{
            display: flex;
            flex-flow: column;
            row-gap: 8px;
            margin-bottom: 3px;
        }

        &__border{
            width: 100%;
            height: 1px;
            border-radius: 16px;
            background-color: #fff;

        }

        &__menu{
            color: $textColor4;
            font-size: 10px;
        }
    }



    .site-logo{
        width: 50px;
        height: 56px;

        @include mq(sp){
            width: 43px;
            height: 48px;
        }
    }


}


