// Collor Variables
$baseColor1:#FFFFFF;
$baseColor2:#F7F7F7;
$baseColor3:#C2C2C2;
$baseColor4:#0526FF;
$textColor1:#0526FF;
$textColor2:#333333;
$textColor3:#FFFFFF;
$textColor4:#0526FF;
$overlay1:rgba(#ff5005, 0.3);

// Font Variables
$sans:"Noto Sans";
$sansJp:"Noto Sans JP";
$serif:"Noto Serif JP";